{% extends "admin-base.html" %}

{% block title %}
Index
{% endblock %}


{% block content %}
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			{% if calendar %}
			<table class="table table-striped table-hover ">
                                        <thead>
                                                <th>Timeslot</th>
                                                <th>Name</th>
                                                <th></th>
                                        </thead>
					{% for event in calendar %}
					<tr>
						<td>
							{{event['day']}}.{{event['month']}}.{{event['year']}} - {{event['hour']}}:00
						</td>
						<td>
							{% if event['live'] %}<b>{%endif%}<a href="/admin/show?id={{event['id']}}">{{event['name']}}</a>{% if event['live']%}</b>{% endif %}
						</td>
						<td class="text-right">
							<a href="/admin/event?id={{event['cal_id']}}" class='btn btn-default'>Details</a>
						</td>
					</tr>	
				{% endfor %}
			</table>	
			{% endif %}
			</div>
			<div class="col-md-2"></div>
		</div><!-- /.row -->


{% endblock %}

