{% extends "admin-base.html" %}

{% block title %}
Logs
{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<h2>Logs</h2>
			{% if logs %}
			<table class="table table-striped table-hover ">
                                        <thead>
						<th>Date</th>
                                                <th>Message</th>
                                        </thead>
					{% for log in logs %}
					<tr class=" {{ log.type }}">
						<td>
							{{ log.datetime }}
						</td>
						<td>
							{{ log.message}}
						</td>
					</tr>	
				{% endfor %}
			</table>	
			{% endif %}
			</div>
			<div class="col-md-2"></div>
		</div><!-- /.row -->
	<hr>

{% endblock %}


