{% extends "admin-base.html" %}

{% block title %}
Schedule {{ alias }}
{% endblock %}


{% block content %}
		{% if schedule %}
		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2>Schedule {{ schedule.alias }}</h2>
					<ul class="nav nav-tabs">
					{% for week, weekcontent in schedule.content.items() %}
						<li class="{% if week == 1 %}active{% endif %}"><a href="#week-{{week}}" data-toggle="tab">Week {{week}}</a></li>
					{% endfor %}
					</ul>
					<hr>
					<div id="schedule-content" class="tab-content">
					
					{% for week, weekcontent in schedule.content.items() %}
					<div class="tab-pane fade {% if week == 1%}active in{% endif %}" id="week-{{week}}">
							<ul class="nav nav-tabs">
							{% for day, daycontent in weekcontent.items() %}
							<li class="{% if day == 1%}active{% endif %}"><a href="#{{week}}-{{day}}" data-toggle="tab">{{weekdays[day]}}</a></li>
							{% endfor %}
							</ul>
							<hr>
							<div id="{{week}}-content" class="tab-content">
							{% for day, daycontent in weekcontent.items() %}
							<div class="tab-pane fade {% if day == 1%}active in{% endif %}" id="{{week}}-{{day}}">
								<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>Time</th>
										<th>Length</th>
										<th>ID</th>
										<th>Name</th>
									</tr>
								</thead>
								{% for hour, hourcontent in daycontent.items() %}
								{% if hourcontent %}
								<tr>
									<th>{{ hour}}:00</th>
									<td>{{hourcontent.length}}</td>
									<td>{{hourcontent.id}}</td>
									<td>{{hourcontent.name}}</td>
								</tr>
								{% endif %}
								{% endfor %}
							</table>
							</div>
							{% endfor %}
							</div>
						<hr>
					</div>
					{% endfor %}
					</div>
					<a href="/admin/generate?id={{ schedule.id}}" class="btn btn-primary">Generate Calendar</a>
				</div>
			<div class="col-md-2"></div>
		</div>
		{% endif %}
	<hr>

{% endblock %}

