{% extends "admin-base.html" %}

{% block title %}
{{ showdata.name }}
{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
			{% if showdata %}
			<h2>{{showdata.name}}</h2>
			<form method="POST" action="/admin/show?id={{show_id}}">
                                        <fieldset>
                                                <input class="form-control" name="query" value="update" type="hidden">
					<div class="form-group">
						<label for="name" class="control-label">Name</label>
						<input class="form-control" name="name" type="text" value="{{showdata.name}}">
                                        </div>
					<div class="form-group">
						<label for="description" class="control-label">Description</label>
						<textarea class="form-control" rows="5" name="description" id="description">{{showdata.description}}</textarea>
                                        </div>
                                        <div class="form-group">
						<input type="submit" value="Submit" class="btn btn-primary" >
                                        </div>
                                        </fieldset>
                                        </form>
			{% endif %}
			</div>
			<div class="col-md-4">
			<h2>Users</h2>
			{% if not showusers %}
				<p>
				{{ nousers }}
				</p>
			{% endif %}
			{% if showusers %}
				<table class="table table-striped table-hover ">
                                        <thead>
                                                <th>Name</th>
                                                <th></th>
                                        </thead>
					{% for user in showusers %}
					<tr>
						<td>
							<a href="/admin/user?name={{ user }}">{{ user }}</a>
						</td>
						<td class="text-right">
							<form method="POST" action="/admin/show?id={{show_id}}">
								<input type="hidden" name="query" value="remove">
								<input type="hidden" name="user" value="{{ user }}">
							<input type="submit" value="Remove" class="btn btn-primary">
							</form>
						</td>
					</tr>
					{% endfor %}
				</table>
			{% endif %}
			{% if users %}
			<form method="POST" action="/admin/show?id={{show_id}}">
                                        <fieldset>
                                                <input class="form-control" name="query" value="add" type="hidden">
					<div class="form-group">
						<label for="user" class="control-label">Add user</label>
						<select class="form-control" id="user" name="user">
							{% for user in users %}
								<option name="user">{{ user }}</option>
							{% endfor %}
						</select>
                                        </div>
                                        <div class="form-group">
						<input type="submit" value="Add User" class="btn btn-primary" >
                                        </div>
                                        </fieldset>
                                        </form>
			{% endif %}
			<h2>Episodes</h2>
			{% if episodes %}
				<table class="table table-striped table-hover ">
                                        <thead>
                                                <th>Name</th>
                                                <th></th>
                                        </thead>
					{% for episode in episodes %}
					<tr>
						<td>
							{{episode['title']}}
						</td>
						<td class="text-right">
							<a href="/admin/episode?id={{episode['id']}}" class='btn btn-default'>Details</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			{% endif %}
			<a href="/admin/episode?show={{show_id}}" class="btn btn-primary">Add Episode</a>
			</div>
			<div class="col-md-2"></div>
		</div><!-- /.row -->
	<hr>

{% endblock %}


