{% extends "login-base.html" %}

{% block title %}
Index
{% endblock %}


{% block content %}
		{% if infoblock %}
		
		<p>{{	infoblock.text }}</p>

		<hr>
		{% endif %}
		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2>Hi {{username}}!</h2>
					<hr>
					{% if shows %}
					<h2>My Shows</h2>
					<ul>
						{% for show in shows %}
						<li>
							<a href="/show?id={{show.show_id}}">{{show.show_name}}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% if next_shows %}
					<h2>Next Events</h2>
					<ul>
						{% for event in next_shows %}
						<li>{{event.day}}.{{event.month}}.{{event.year}} at {{event.hour}}:00 a {% if event.live%}live{% endif %}{% if not event.live %}repeat{% endif %}-show of <a href="/calendar?id={{event.cal_id}}">{{ event.name}}</a></li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			<div class="col-md-2"></div>
		</div>
	<hr>

{% endblock %}

