{% extends "login-base.html" %}

{% block title %}
Index
{% endblock %}


{% block content %}
		{% if infoblock %}
		
		<p>{{	infoblock.text }}</p>

		<hr>
		{% endif %}
		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2>Hi {{username}}!</h2>
					<hr>
					{% if shows %}
					<h2>My Shows</h2>
					<ul>
						{% for show in shows %}
						<li>
							<a href="/show?id={{show.show_id}}">{{show.show_name}}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			<div class="col-md-2"></div>
		</div>
	<hr>

{% endblock %}

